<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyberorange.primary.mapper.base.BaseLoginUserMapper" >
	
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.cyberorange.primary.entity.LoginUserEntity">
		<id column="ID" jdbcType="BIGINT" property="id"/>
		<result column="ACCOUNT" jdbcType="VARCHAR" property="account"/>
		<result column="NAME" jdbcType="VARCHAR" property="name"/>
		<result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
		<result column="PHONE" jdbcType="VARCHAR" property="phone"/>
		<result column="EMAIL" jdbcType="VARCHAR" property="email"/>
		<result column="QQ" jdbcType="VARCHAR" property="qq"/>
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
	</resultMap>
	
	<!-- 通用查询结果列 -->
	<sql id="BaseColumnList" >
		ID,
		ACCOUNT,
		NAME,
		PASSWORD,
		PHONE,
		EMAIL,
		QQ,
		CREATE_TIME,
		UPDATE_TIME
    </sql>
    
  	<!-- 插入一个实体对象 -->
    <insert id="insert" parameterType="com.cyberorange.primary.entity.LoginUserEntity">
	    insert into
		`primary_login_user`
	    (
        	ACCOUNT,
        	NAME,
        	PASSWORD,
        	PHONE,
        	EMAIL,
        	QQ,
        	CREATE_TIME,
			UPDATE_TIME
		) values(
        	#{account,jdbcType=VARCHAR},
        	#{name,jdbcType=VARCHAR},
        	#{password,jdbcType=VARCHAR},
        	#{phone,jdbcType=VARCHAR},
        	#{email,jdbcType=VARCHAR},
        	#{qq,jdbcType=VARCHAR},
        	#{createTime,jdbcType=TIMESTAMP},
			#{updateTime,jdbcType=TIMESTAMP}
	    )
  	</insert>
    
  	<!-- 批量插入实体对象 -->
    <insert id="batchInsert" parameterType="java.util.List">
	    insert into
		`primary_login_user`
	    (
        	ACCOUNT,
        	NAME,
        	PASSWORD,
        	PHONE,
        	EMAIL,
        	QQ,
        	CREATE_TIME,
			UPDATE_TIME
		) values
	    <foreach collection="list" item="item" index="index" open="" close="" separator=",">
	    (
        	#{item.account,jdbcType=VARCHAR},
        	#{item.name,jdbcType=VARCHAR},
        	#{item.password,jdbcType=VARCHAR},
        	#{item.phone,jdbcType=VARCHAR},
        	#{item.email,jdbcType=VARCHAR},
        	#{item.qq,jdbcType=VARCHAR},
        	#{item.createTime,jdbcType=TIMESTAMP},
			#{item.updateTime,jdbcType=TIMESTAMP}
        )
		</foreach>
  	</insert>
    
  	<!-- 根据ID更新实体对象 -->
  	<update id="updateById" parameterType="com.cyberorange.primary.entity.LoginUserEntity">
  		update
		primary_login_user
    	<set>
	    	ACCOUNT=#{account,jdbcType=VARCHAR},
	    	NAME=#{name,jdbcType=VARCHAR},
	    	PASSWORD=#{password,jdbcType=VARCHAR},
	    	PHONE=#{phone,jdbcType=VARCHAR},
	    	EMAIL=#{email,jdbcType=VARCHAR},
	    	QQ=#{qq,jdbcType=VARCHAR},
	    	CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},
	    	UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP},
			ID = #{id}
    	</set>
		where ID = #{id}
  	</update>
  	
  	<!-- 批量根据ID更新实体对象 -->
  	<update id="batchUpdateById" parameterType="java.util.List">
	    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
		    update
			`primary_login_user`
	    	<set>
        		ACCOUNT=#{item.account,jdbcType=VARCHAR},
        		NAME=#{item.name,jdbcType=VARCHAR},
        		PASSWORD=#{item.password,jdbcType=VARCHAR},
        		PHONE=#{item.phone,jdbcType=VARCHAR},
        		EMAIL=#{item.email,jdbcType=VARCHAR},
        		QQ=#{item.qq,jdbcType=VARCHAR},
        		CREATE_TIME=#{item.createTime,jdbcType=TIMESTAMP},
        		UPDATE_TIME=#{item.updateTime,jdbcType=TIMESTAMP},
				ID = #{item.id}
	    	</set>
			where ID = #{item.id}
		</foreach>
  	</update>
  	
  	<!-- 根据ID更新实体对象的有效属性 -->
  	<update id="updateSelectiveById" parameterType="com.cyberorange.primary.entity.LoginUserEntity">
  		update
		primary_login_user
    	<set>
      		<if test="account != null">
        		ACCOUNT=#{account,jdbcType=VARCHAR},
      		</if>
      		<if test="name != null">
        		NAME=#{name,jdbcType=VARCHAR},
      		</if>
      		<if test="password != null">
        		PASSWORD=#{password,jdbcType=VARCHAR},
      		</if>
      		<if test="phone != null">
        		PHONE=#{phone,jdbcType=VARCHAR},
      		</if>
      		<if test="email != null">
        		EMAIL=#{email,jdbcType=VARCHAR},
      		</if>
      		<if test="qq != null">
        		QQ=#{qq,jdbcType=VARCHAR},
      		</if>
      		<if test="createTime != null">
        		CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},
      		</if>
      		<if test="updateTime != null">
        		UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP},
      		</if>
      		ID = #{id}
    	</set>
		where ID = #{id}
  	</update>
  	
  	<!-- 批量根据ID更新实体对象的有效属性 -->
  	<update id="batchUpdateSelectiveById" parameterType="java.util.List">
  		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
	  		update
			`primary_login_user`
	    	<set>
        		<if test="item.account != null">
	        		ACCOUNT=#{item.account,jdbcType=VARCHAR},
	      		</if>
        		<if test="item.name != null">
	        		NAME=#{item.name,jdbcType=VARCHAR},
	      		</if>
        		<if test="item.password != null">
	        		PASSWORD=#{item.password,jdbcType=VARCHAR},
	      		</if>
        		<if test="item.phone != null">
	        		PHONE=#{item.phone,jdbcType=VARCHAR},
	      		</if>
        		<if test="item.email != null">
	        		EMAIL=#{item.email,jdbcType=VARCHAR},
	      		</if>
        		<if test="item.qq != null">
	        		QQ=#{item.qq,jdbcType=VARCHAR},
	      		</if>
        		<if test="item.createTime != null">
	        		CREATE_TIME=#{item.createTime,jdbcType=TIMESTAMP},
	      		</if>
        		<if test="item.updateTime != null">
	        		UPDATE_TIME=#{item.updateTime,jdbcType=TIMESTAMP},
	      		</if>
	      		 ID = #{item.id}
	    	</set>
			where ID = #{item.id}
		</foreach>
  	</update>
  	
  	<!-- 根据ID查询记录 -->
  	<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	    select 
	    <include refid="BaseColumnList" />
	    from
		primary_login_user
	    where ID = #{id} limit 1
  	</select>
  	
  	<!-- 根据实体可用的字段查询列表 -->
  	<select id="selectListSelective" parameterType="com.cyberorange.primary.entity.LoginUserEntity" resultMap="BaseResultMap">
	    select 
	    <include refid="BaseColumnList" />
	    from
		primary_login_user
	    where
	    	1 = 1 
		    <if test="id != null">
		    and ID=#{id,jdbcType=BIGINT} 
		    </if>
		    <if test="account != null">
		    and ACCOUNT=#{account,jdbcType=VARCHAR} 
		    </if>
		    <if test="name != null">
		    and NAME=#{name,jdbcType=VARCHAR} 
		    </if>
		    <if test="password != null">
		    and PASSWORD=#{password,jdbcType=VARCHAR} 
		    </if>
		    <if test="phone != null">
		    and PHONE=#{phone,jdbcType=VARCHAR} 
		    </if>
		    <if test="email != null">
		    and EMAIL=#{email,jdbcType=VARCHAR} 
		    </if>
		    <if test="qq != null">
		    and QQ=#{qq,jdbcType=VARCHAR} 
		    </if>
		    <if test="createTime != null">
		    and CREATE_TIME=#{createTime,jdbcType=TIMESTAMP} 
		    </if>
		    <if test="updateTime != null">
		    and UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP} 
		    </if>
  	</select>
  	
  	<!-- 根据实体可用的字段查询一条数据 -->
  	<select id="selectOneSelective" parameterType="com.cyberorange.primary.entity.LoginUserEntity" resultMap="BaseResultMap">
	    select 
	    <include refid="BaseColumnList" />
	    from
		primary_login_user
	    where
	    	1 = 1
	    	<if test="id != null">
	        and ID=#{id,jdbcType=BIGINT} 
	      	</if>
	    	<if test="account != null">
	        and ACCOUNT=#{account,jdbcType=VARCHAR} 
	      	</if>
	    	<if test="name != null">
	        and NAME=#{name,jdbcType=VARCHAR} 
	      	</if>
	    	<if test="password != null">
	        and PASSWORD=#{password,jdbcType=VARCHAR} 
	      	</if>
	    	<if test="phone != null">
	        and PHONE=#{phone,jdbcType=VARCHAR} 
	      	</if>
	    	<if test="email != null">
	        and EMAIL=#{email,jdbcType=VARCHAR} 
	      	</if>
	    	<if test="qq != null">
	        and QQ=#{qq,jdbcType=VARCHAR} 
	      	</if>
	    	<if test="createTime != null">
	        and CREATE_TIME=#{createTime,jdbcType=TIMESTAMP} 
	      	</if>
	    	<if test="updateTime != null">
	        and UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP} 
	      	</if>
	    limit 1
  	</select>
  	
  	<!-- 根据ID删除记录 -->
  	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from
		primary_login_user
		where ID = #{id}
  	</delete>
  	
  	<!-- 批量根据ID删除记录 -->
  	<delete id="batchDeleteById" parameterType="java.util.List">
		delete from
		`primary_login_user`
		where ID in 
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
	    	#{item}
		</foreach>
  	</delete>
  	
</mapper>